body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.row {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.row h1,
.row p {
  display: inline;
  float: left;
  width: auto;
  vertical-align: top;
  line-height: 28px;
  padding-right: 10px;
  margin: 1px; /* Gets rid of the vertical scrollbar */
}

.left {
  display: inline-block;
  float: left;
}

.right {
  float: left;
}

article {
  display: block;
  float: left;
  width: 32.3%;
  height: 200px;
  margin: .5% .5%;
  background: #AAAAAA33
}

article img {
  height:110px;
  width: auto;
}

article div {
  padding-left: 10px;
  padding-right: 10px;
}

.option {
  height: 120px
}
