body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

.container {
  width: 90%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.row {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.row div {
  display: inline;
  float: left;
  width: auto;
  vertical-align: top;
  line-height: 28px;
  padding-right: 10px;
  margin: 1px; /* Gets rid of the vertical scrollbar */
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  position: relative;
}

.float-right {
  float: right;
  position: relative;
  text-align: right;
}

article {
  display: block;
  float: left;
  min-width: 400px;
  width: 32.3%;
  height: 200px;
  overflow: hidden;
  margin: .5% .5%;
  background: #AAAAAA33
}

article img {
  height:110px;
  width: auto;
}

article div {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width:1400px) {
  article {
    width: 49%;
  }
}

@media only screen and (max-width:910px) {
  article {
    width: 99%;
  }
}

.option {
  height: 100px;
}
