<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Webshop</title>
  <meta name="description" content="Single page webshop">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- component template -->
  <script type="text/x-template" id="shop-template">
    <div>
      <div class="row" v-if="selection">
        <div class="left">
          <p @click="selectProduct()"><<</p>
        </div>
        <div class="right">
          <h1>{{ selection.name }}</h1>
          <p>{{ selection.description }}</p>
          <p v-if="selection.price">${{ selection.adjustedPrice }} - add to cart</p>
        </div>
      </div>

      <article class="product"
        v-for="product in filteredData"
        @click="selectProduct(product)">
        <div class="left">
          <h1>{{ product.name }}</h1>
          <img v-if="product.imgPath"
            :src="product.imgPath"/>
        </div>
        <div class="right">
          <p>{{ product.description }}</p>
          <p v-if="product.types || product.options">more types or options available</p>
          <p v-if="product.price">${{ product.price }} - add to cart</p>
        </div>
      </article>

      <div v-if="selection && selection.options">
        <article class="option"
          v-for="option in selection.options"
          :class="{active: option.selected}"
          @click="selectOption(option)">
            <div class="left">
              <h1>{{ option.name }} </h1>
              <p>{{ option.description }}</p>
            </div>
            <div class="float-right">
              <p>{{ option.price }}</p>
              <p v-if="option.selected">Selected</p>
            </div>
        </article>
      </div>
    </div>
  </script>

  <!-- application content -->
  <div id="app" class="container">
    <h1>{{ motd }}</h1>
    <shop
      :data="shopData"
    ></shop>
  </div>

  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>window.Vue || document.write('<script src="js/vendor/vue-2.5.16.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/products.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
